<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="left" class="left-column">
            <div class="picture-frame">
                <img src="assets/profile_picture.jpg" alt="Imagem" />
            </div>
        </section>
        <section id="right" class="right-column">
            <div class="textBox">
                <h2>Título</h2>
                <p>Texto do parágrafo aqui.</p>
            </div>
        </section>
    </main>
</body>
</html>