header {
    height: 80px;
    display: grid;
    justify-content: start;
    align-items: center;
    position: fixed;
    background-color: #4C5B61;
}

.tool-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 4px;
}

.tool-bar li {
    width: 150px;
    box-sizing: border-box;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.tool-bar a {
    text-decoration: none;
    color: #C5C5C5; 
    font-weight: 400;
    font-size: 20px; 
}

.software-engineer {
    background-color: #4C5B61;
    position: fixed; 
    top: 0; 
    right: 0; 
    color: #C5C5C5;
    font-size: 20px;
    margin-left: auto;
    padding-right: 40px;
    height: 80px;
    display: flex;
    align-items: center;
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    height: calc(100vh - 80px);
    align-items: center;
    color: #C5C5C5;
}

.left-column,
.right-column {
    padding: 3em;
}

#left {
    text-align: start;
}

#right {
    text-align: end;
}


.name-text-lucas {
    font-size: 48px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: -30px;
}

.name-text-henrique {
    font-size: 96px;
    font-weight: 1000;
    font-family: 'Roboto Condensed';
    margin: 0;
}


.media-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 4px;
}


.media-list img {
    width: 50px;
    margin-right: 25px;
}

.hello-word {
    font-size: 32px;
    font-weight: lighter;
}