<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav style="display: flex;">
            <ul class="tool-bar">
              <li><a href=" ">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/resume">Resume</a></li>
            </ul>
            <div class="software-engineer">Software Engineer</div>
          </nav>
    </header>
    <main>
        <section id="left" class="left-column">
            <div style="display: grid;">
                <p class="name-text-lucas">LUCAS</p>
                <p class="name-text-henrique">HENRIQUE</p>
            </div>
            <nav>
              <ul class="media-list">
                <li>
                  <a href="https://www.linkedin.com/in/lucash16/" target="_blank"
                    ><img src="assets/icons/linkedin.png" alt="Linkedin"
                  /></a>
                </li>
                <li>
                  <a href="https://github.com/Lucash16" target="_blank"
                    ><img src="assets/icons/github.png" alt="Github"
                  /></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/luccas.tas/" target="_blank"
                    ><img src="assets/icons/whatsapp.png" alt="Whats"
                  /></a>
                </li>
                <li>
                  <a href="https://wa.me/5511998207805" target="_blank"
                    ><img src="assets/icons/instagram.png" alt="Insta"
                  /></a>
                </li>
              </ul>
            </nav>
        </section>
        <section id="right" class="right-column">
            <p class="hello-word">Hello World! I'am a software engineer</p>
        </section>
    </main>
</body>
</html>
